:root {
    --primary-color: #ffffff;
    --second-color: #e25f4f;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-primary {
    background-color: var(--primary-color)
}

.bg-secondary {
    background-color: var(--secondary-color);
}

